*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e5e5e5;
}
header{
    width: 100%;
    height: auto;
    padding: 0.5rem 0;
    border-bottom: 1px solid rgba(28, 35, 40, 0.322);
    background-color: rgb(239, 235, 243);
}
header .container-menu {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    font-family: 'Aboreto', cursive;
    color:#6A85B6;
    text-decoration: none;
    font-size: 16px;
}
header .container-menu nav a {
    padding: 0 0.5rem;
    color: #6E45E2;
    text-decoration: none;
    font-family: 'Aboreto', cursive;
    font-size: 15px;
}
header .list-menu li {
    display: inline;

}
header .navbar input, label{
    display: none;
}
main{
    width: 100%;
    height: auto;
    position: relative;
}
main .to-doapp{
    width: 70%;
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: 5rem auto;
    padding: 1rem;
    border: 5px solid violet;
    border-radius: 8px;
    background-color: white;
} 
#addtask{
    display: flex;
    background-color: violet;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.fa-square-plus{
    background-color: rgb(225, 170, 225);
    padding: 4px;
    border-radius: 4px;
}
main .text-task{
    display:flex;
    justify-content: center;
}
#metas{
    display: grid;
    gap: 14px;
}
#metas div{
    background-color:rgb(225, 170, 225);
    border: 3px solid   rgb(190, 166, 190);
    padding: 5px;
    border-radius: 6px;
    display: grid;
    gap: 4px;
}
.task-me{
    font-weight: bold;
}
.date{
    font-size: smaller;
    color: rgb(132, 130, 130);
}
.opciones{
    justify-self: center;
    display: flex;
    gap:1rem;
    cursor: pointer;
}
/* responsive media*/
@media (min-width:240px) and (max-width:720px){
    header .container-menu{
        max-width: 90%;
    }
    header .list-menu{
        display: none;
        top: 3.2 rem;
        right: 0;
        position:absolute;
        z-index: 1;
    }
    header .list-menu li {
        padding: 1.1rem 1rem;
    }
    header #navmenu:checked~.list-menu {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        text-align: start;
        justify-content: start;
    }
    header .container-menu .btn-nav{
        display: flex;
        font-size: 1rem;
        user-select: none;
        cursor:pointer;
    }
    header .logo{
        font-size: 12px;
    }
}